.Row1{
    background-color: lightgreen;
    height: auto;
    padding: 25px;
    display: contents;

}
.vegpic{
    width: 45rem;
    float: right;
}
.Card1{
    margin: 10px;
    text-align: center;
    box-shadow: 0 0 10px black;
    height: 500px;
    width: 420px;
    /* display: inline-block; */
    justify-content: center;
    transition: 0.2s;
    display: inline-block;
}
.cardimg{
    height: 250px;
}